@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #e77913;
  --foreground-hlf: #c0671375;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

[data-thema="LIGHT"] {
  --background: #dbe0e4;
  --foreground: #07263a;
  --foreground-hlf: #b7c3cc;
}

[data-thema="DARK"] {
  --background: #171717;
  --foreground: #e77913;
  --foreground-hlf: #c0671375;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
